*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-area{
    width: 100%;
    background-color: #424141;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:20px 15px;
}
.logo img{
    width: 100px;
}
.menu ul{
    display: flex; 
    
}
.menu ul li{
    list-style: none;
    /* margin-right: 30px; */
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: inline-block;
    padding:0 20px;
    
}

/* =========Banare-area========= */
.bannar-area{
    width: 100vw;
    height: 90vh;
    background-image: url(images/background.png);
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.heading-area{
    width: 41%;
    color: rgb(255, 255, 255);
}
.heading-area h1{
    font-size: 55px;
    margin: 20px 0;
}
.heading-area p{
    font-size: 18px;
    margin: 20px 0;
}
.heading-area a{
   text-decoration: none;
   display: inline-block;
   padding: 15px 25px;
   background-color: #ff0000;
   margin: 15px 0;
   color: white;
   font-size: 18px;
   border-radius: 5px;
}
.img-area img{
    width:320px;
}