*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.menu-area{
    width: 100%;
    background-color: #424141;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:20px 15px;
}
.logo img{
    width: 100px;
}
.menu ul{
    display: flex; 
    
}
.menu ul li{
    list-style: none;
    /* margin-right: 30px; */
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: inline-block;
    padding:0 20px;
    
}

/* =========Bannar-area========= */
.bannar-area{
    width: 98.77vw;
    height: 90vh;
    background-image: url(images/background.png);
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.heading-area{
    width: 40%;
    color: rgb(255, 255, 255);
}
.heading-area h1{
    font-size: 50px;
    margin: 20px 0;
}
.heading-area p{
    font-size: 18px;
    margin: 20px 0;
}
.btn{
   text-decoration: none;
   display: inline-block;
   padding: 10px 25px;
   background-color: #ff0000;
   margin: 15px 0;
   color: white;
   font-size: 18px;
   border-radius: 5px;
}
.img-area img{
    width:320px;
}

/*======= about-us-area ==========*/
.about-area{
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.about-area h2{
    font-size: 50px;
    text-align: center;
    /* margin: 30px 0; */
}
.contant-area{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    
}

.text-area{
    width: 40%;
    
}
.text-area h4{
   font-size: 25px;
   margin: 20px 0;

}